
.profile-section:before,
.profile-section:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.profile-section:after {
    clear: both;
}

html {
  background: #111;
  color: #aaa;
  padding-top: 50px;
}

.profile-wrap {
  max-width: 650px;
  margin: auto;
  padding-left: 18px;
  padding-right: 18px;
}

.profile-section {
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 48px;
  border-bottom: 1px dotted #333;
}

.profile-section  p {
  margin-bottom: 12px;
}

.profile-media {
  float: right;
  width: 300px;
  margin-left: 10px;
  margin-bottom: 18px;
  position: relative;
}

.profile-media-box {
  position: relative;
  height: 0;
  padding-bottom: 67%;
}

.profile-media-child {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #333;
}

.profile-title {
  margin-bottom: 10px;
}

.read-more {
  clear: both;
}

.read-more-toggle {
  display: inline-block;
  position: absolute;
  bottom: -18px;
  left: 100px;
  background: #111;
  padding: 10px 0;
  text-align: center;
  width: 120px;
}

@media (max-width: 540px) {
  .profile-media {
    float: none;
    margin-left: -18px;
    margin-right: -18px;
    width: auto;
  }

  .read-more-toggle {
    left: 50%;
    margin-left: -60px;
  }
}

